{% extends 'base.html' %}


{% block content %}
  <header class="w-100 p-3">
    <form method="POST" onsubmit="Site.registration(this, 'lpe'); return false;">

      <br>
      <h6>Название</h6>
      <div class="form-row">
        <div class="col">
          <input name="name" type="text" class="form-control" placeholder="Название">
        </div>
      </div>

      <br>
      <h6>Ф.И.О</h6>

      <div class="form-row">
        <div class="col">
          <input name="last_name" type="text" class="form-control" placeholder="Фамилия">
        </div>
        <div class="col">
          <input name="first_name" type="text" class="form-control" placeholder="Имя">
        </div>
        <div class="col">
          <input name="middle_name" type="text" class="form-control" placeholder="Отчество">
        </div>
        <div class="col">
          <input name="position" type="text" class="form-control" placeholder="Должность">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <h6>Вид деятельонсти</h6>
          <select class="custom-select mr-sm-2" name="kind_of_activity" id="inlineFormCustomSelect">
            <option value="0" selected>Выберите...</option>
            <option value="1">Дистрибьюция</option>
            <option value="2">Розничная торговля</option>
          </select>
        </div>

        <div class="col">
          <h6>Плательщик ли НДС?</h6>
          <select class="custom-select mr-sm-2" name="VAT_payer" id="inlineFormCustomSelect">
            <option value="0" selected>Выберите...</option>
            <option value="1">Да</option>
            <option value="2">Нет</option>
          </select>
        </div>
      </div>

      <br>
      <h6>Фактический адрес</h6>
      <div class="form-row">
        <div class="col-7">
          <input type="text" name="address_1" class="form-control" placeholder="Город">
        </div>
        <div class="col">
          <input type="text" name="address_2" class="form-control" placeholder="Улица">
        </div>
        <div class="col">
          <input type="text" name="address_3" class="form-control" placeholder="Дом">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-md-6">
          <h6>Email</h6>
          <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <h6>Телефон</h6>
          <input type="Phone" name="phone" class="form-control" id="inputPhone" placeholder="Телефон">
        </div>
      </div>

        <br>
        <div class="form-row">
          <div class="col">
            <h6>Доставка</h6>
            <select class="custom-select mr-sm-2" name="delivery" id="inlineFormCustomSelect">
              <option value="0" selected>Выберите...</option>
              <option value="1">Транспортная компания</option>
              <option value="2">Автопарк компании</option>
              <option value="3">Самовывоз</option>
            </select>
        </div>

        <div class="col">
          <h6>Отсрочка платежа</h6>
          <select class="custom-select mr-sm-2" name="deferment_of_payment" id="inlineFormCustomSelect">
            <option value="0" selected>Выберите...</option>
            <option value="1">Да</option>
            <option value="2">Нет</option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <h6>ИНН</h6>
          <input type="text" name="inn" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <h6>Гарантия качетсва в днях</h6>
          <input name="warranty" type="text" class="form-control" id="gr">
        </div>
        <div class="form-group col-md-4">
          <h6>Наличие сертификатов</h6>
          <select name="availability_of_certificates" id="inputState" class="form-control">
            <option value="0" selected>Выберите</option>
            <option value="1">Есть</option>
            <option value="2">Отсутствуют</option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-md-4">
          <h6>Наличие сертификатов</h6>
          <select name="availability_of_certificates" id="inputState" class="form-control">
            <option value="0" selected>Выберите</option>
            <option value="1">Есть</option>
            <option value="2">Отсутствуют</option>
          </select>
        </div>
        <div class="col">
          <h6>Минимальный заказ(шт, руб)</h6>
          <input name="min_order" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <h6>Краткое описание</h6>
          <input type="text" name="short_desc" class="form-control" placeholder="">
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Запомнить устройсто
          </label>
        </div>
      </div>
      <input type="submit" value="Зарегистрироваться" class="btn btn-primary">
  </form>
  </header>
{% endblock %}
