{% extends 'base.html' %}

{% block content %}
<body>
<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Тарифы</h1>
    <p class="lead">Выберите тариф, который подходит вам!</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Ваши возможности урезаны</li>
          <li>Достаупны только продажа и покупка</li>
        </ul>
        <button  type="button" class="w-100 btn btn-lg btn-outline-primary">Используется</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Безграничный доступ ко всему</li>
          <li>Фильтры поставщиков</li>
          <li>Общение на сайте</li>
        </ul>
        <button data-toggle="modal" data-target="#Pro" type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Vip</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Безграничный доступ ко всему</li>
          <li>Общение на сайте</li>
          <li>Фильтр поставщиков</li>
          <li>Большая привлеченность клиентов</li>
        </ul>
        <button data-toggle="modal" data-target="#Vip" type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
      </div>
    </div>
    </div>
  </div>

  <div class="modal fade" id="Vip" tabindex="-1" aria-labelledby="provider" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab" role="tab" aria-selected="true">Вы действительно желаете приобрести Vip?</a></li>
            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body tab-content py-4">
            <form method="POST" onsubmit="Site.PymentDetail(this); return false;" class="needs-validation tab-pane fade show active">
              <div class="form-group">
                <label for="si-email">Email</label>
                <input class="form-control" type="email" name="email" id="si-email" placeholder="Trade@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="form-group">
                <div class="password-toggle">
                  <input class="form-control" name="expiration" type="text" placeholder="Срок действия" required>
                </div>
                <div class="password-toggle">
                  <input class="form-control" name="position" type="text"  placeholder="Vip/Pro" required>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
              <input value="Приобрести" class="btn btn-primary btn-block btn-shadow" type="submit">
            </form>
  </div>
  </div>
  </div>
  </div>



{% endblock %}
